<div class="container">
  <div class="row justify-content-center">
    <h1 class="m-5">
      ようこそ
      <strong class="font-weight-bold">
      <%= @customer.last_name + @customer.first_name %>
      </strong>
      さん
    </h1>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="border-bottom border-primary"><%= label :email, "メールアドレス" %></td>
            <td class="border-bottom border-primary", colspan="2"><%= @customer.email %></td>
          </tr>
          <tr>
            <td class="border-bottom border-primary"><%= label :kana_name, "カナ" %></td>
            <td class="border-bottom border-primary", colspan="2"><%= @customer.last_name_kana + @customer.first_name_kana %></td>
          </tr>
          <tr>
            <td class="border-bottom border-primary"><%= label :postal_code, "郵便番号" %></td>
            <td class="border-bottom border-primary", colspan="2"><%= @customer.postal_code %></td>
          </tr>
          <tr>
            <td class="border-bottom border-primary"><%= label :address, "住所" %></td>
            <td class="border-bottom border-primary", colspan="2"><%= @customer.address %></td>
          </tr>
          <tr>
            <td class="border-bottom border-primary"><%= label :telephone_number, "電話番号" %></td>
            <td class="border-bottom border-primary", colspan="2"><%= @customer.telephone_number %></td>
          </tr>
          <tr>
            <td>
              <%= link_to edit_public_customers_path, class: 'btn btn-success mt-3' do %>
                編集する
              <% end %>
            </td>
            <td>
              <%= link_to public_addresses_path, class: 'btn btn-primary mt-3' do %>
                配送一覧
              <% end %>
            </td>
            <td>
              <%= link_to public_orders_path, class: 'btn btn-primary mt-3' do %>
                注文一覧
              <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>