<div class="row justify-content-center">
  <div class="col-md-8 offset-md-1">
    <h5 class="m-4">商品詳細</h5>
  </div>
</div>

<div class="container m-5">
  <div class="row justify-content-center">
      <div class="col-lg-4">
        <%= image_tag @item.image, size: "300x200" %>
        <%= @item.quote_source %>
      </div>
      <div class="col-lg-8">
      <table class="table table-borderless">
        <tbody>
          <tr>
            <td class="col-lg-3"><%= label :item_name, "商品名" %></td>
            <td><%= @item.name %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_introduction, "商品説明" %></td>
            <td><%= @item.introduction %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_genre, "ジャンル" %></td>
            <td><%= @item.genre.name %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_price, "税込価格""(税抜価格)" %></td>
            <td><%= @item.price %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_os "OS" %></td>
            <td><%= @item.os %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_cpu, "CPU" %></td>
            <td><%= @item.cpu %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_graphics, "グラフィック" %></td>
            <td><%= @item.graphics %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_memory, "メモリ" %></td>
            <td><%= @item.memory %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_storage, "ストレージ" %></td>
            <td><%= @item.storage %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_connection, "接続" %></td>
            <td><%= @item.connection %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_resolution, "解像度" %></td>
            <td><%= @item.resolution %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_polling_rate, "ポーリングレー" %></td>
            <td><%= @item.polling_rate %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_size, "サイズ" %></td>
            <td><%= @item.size %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_memory_bus, "メモリーバス" %></td>
            <td><%= @item.memory_bus %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_memory_type, "メモリータイプ" %></td>
            <td><%= @item.memory_type %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_core_clock, "コアクロック" %></td>
            <td><%= @item.core_clock %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_memory_clock, "メモリークロック" %></td>
            <td><%= @item.memory_clock %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_monitor_output, "モニター出力" %></td>
            <td><%= @item.monitor_output %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_chip, "チップ" %></td>
            <td><%= @item.chip %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_response_speed, "反応速度" %></td>
            <td><%= @item.response_speed %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_refresh_rate, "リフレッシュレート" %></td>
            <td><%= @item.refresh_rate %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_input_terminal, "入力端子" %></td>
            <td><%= @item.input_terminal %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_layout, "キーレイアウト" %></td>
            <td><%= @item.layout %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_key_switch, "キースイッチ" %></td>
            <td><%= @item.key_switch %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_quote_source, "引用元URL" %></td>
            <td><%= @item.key_quote_source %></td>
          </tr>
          <tr>
            <td class="col-lg-3"><%= label :item_status, "販売ステータス" %></td>
            <td class="text-success">
            <% if @item.is_active == true %>
              販売中
            <% else %>
              販売停止中
            <% end %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <%= link_to "編集する", edit_admin_item_path(@item.id), class: "btn btn-sm btn-success" %>
  </div>
</div>