<div class="row justify-content-center">
  <p class="display-4 m-3">
    〜ようこそ
    <strong class="font-weight-bold">
      Gamers
    </strong>
    へ〜
  </p>
</div>

<div class="container m-3">
  <div class="row">
    <div class="col-lg-6">
      <%= image_tag 'ゲーム部屋.jpg', size: "550x300"%>
      <h2 class="font-weight-bold">
        あなたの
        <strong class="display-4 text-danger">
          最高
        </strong>
        を手にしよう!!
      </h2>
    </div>
    <div class="col-lg-6 flex-row d-flex">
      <div class="container">
        <h3>新着商品</h3>
        <div class="row">
          <% @items.each do |item| %>
            <div class="col-6">
              <%= link_to public_item_path(item.id) do %>
                <%= image_tag item.image, size: "220x150" %>
              <% end %>
              <%= item.name %>
              ¥<%= item.price %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
